/* smooth scroll, font for page to Roboto */
html {
  scroll-behavior: smooth;
  font-family: 'Roboto';
}

/* Changes background colour to white */
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* styling skip link */
.skiplink {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: darkred;
}

h1 {
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  color: darkred;
}

/* Hover state for accessibility */
.skiplink:hover,
.skiplink:focus {
  font-weight: 800;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* Adds a bit of gap between navigation and image */
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  padding: 15px;
  /* changes flex to flex-grow to keep nav elements equally spaced */
  flex-grow: 1;
  text-align: center;
}

/* adjusts navigation menu for accessibility */

.main-nav ul li:hover,
.main-nav ul li:focus {
  background-color: darkred;
  color: white;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}

form input,
form textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid black;
  padding: 1rem;
  text-transform: uppercase;
}

/* Adjusts button hover state for accessibility */
form button:hover,
form button:focus {
  background-color: darkred;
  color: white;
  font-weight: 600;
}

.site-footer {
  padding: 2rem 0;
}